#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens160 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$fn1QLN1qbDKXRbYA$GN7Xrxn16qkSTSjSeVmpRzTtNBoscuR.7PBzqAnbJRONtwGtOd/7z//HW/YJLoFj5sdrmC4cF3fCFZ9gOHfiy0
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=sda --size=500
part pv.252 --fstype="lvmpv" --ondisk=sda --size=50699
volgroup rootvg --pesize=4096 pv.252
logvol /  --fstype="xfs" --size=48640 --name=root --vgname=rootvg
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=rootvg

%packages
@^minimal
@compat-libraries
@core
@debugging
@development
@security-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
